mixin tab(tab)
  if tab.tabgroup
    - var tabgroup = tab.tabgroup
  else
    - var tabgroup = ""

  if tab.hidden
    - var hidden = "hidden"
  else
    - var hidden = ""

  .row.tab(data-tabgroup="#{tabgroup}" class="#{hidden}")
    .col-sm-3.headline
       h2!= tab.title

    .col-sm-9.copy
      if tab.links
        +tab_w_link(tab)
      else
        each para in tab.copy
            p!= para

mixin tab_w_link(tab)
  each para in tab.copy
    a(href="#{para.link.href}")!= para.link.copy
    p!= para.copy


.tabs
  each tab in tabs
    +tab(tab)